.header-main{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background: #fff;

  height: 7rem;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 90%;
    margin: auto;
  }

  .logo{
    display: flex;
    align-items: center;
    gap: .6rem;

    padding: .4rem;

    span{
      font-size: 1.5rem;
      color: #223;
      font-weight: 600;
    }
  }

  .btn-toggle-navbar{
    display: none;
    background: transparent;
    border: 1px solid #dde;
    border-radius: .4rem;
    font-size: 0;
    padding: .2rem;
  }

  .navbar{
    display: flex;
    gap: 1rem;
    align-items: center;

    ul{
      display: flex;
      align-items: center;
      gap: 2.5rem;

      li{
        font-weight: 400;
      }
    }
  }
}

@media (max-width: 900px){
  .header-main{
    .btn-toggle-navbar{
      display: block;
    }
    .navbar{
      display: none;
      position: absolute;
      top: 7rem;
      left: 0;
      right: 0;
      background-color: #fff;

      ul{
        width: 100%;
        margin-bottom: 1rem;
        flex-direction: column;
        gap: .5rem;

        li{
          width: 100%;

          padding: 1rem;
          font-weight: bold;
          text-align: center;

          transition: .2s;

          &:hover{
            background: #eef;
          }
        }
      }
    } 
  }
}