#badge-count-messages{
  background: #212529;
  color: #e2e8f0;
  border-radius: 99rem;
  padding: .2rem .6rem;
  font-size: .8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#answer-to{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
  border: 1px solid var(--gray-400);
  background: #e2e8f0;
  color: #747480;
  border-radius: 99rem;
  padding: .8rem;
  height: 2rem;

  cursor: pointer;

  transition: .3s;

  #hover-answer{
    position: absolute;
    display: none;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #eef;
    box-shadow: 0 0 10px #0001;
    background-color: #fff;
    bottom: 2.7rem;
  }

  &:hover{
    background: #212529;

    > span{ color: #e2e8f0; }
    
    #hover-answer{
      display: block;
    }
  }

  span:hover{
    text-decoration: underline;
  }

  button{
    background: #212529;
    color: #e2e8f0;
    border-radius: 99rem;
    display: flex;
    align-items: center;
    justify-content: center;
  
    transition: .3s;
  }
}
#answer-to button:hover, .message-trash:hover{
  background: #d1d7df;
  color: #212529;
  font-weight: bold;
}
#text-question{
  position: relative;

  &:focus-within{
    outline: 2px solid #d1d7df;
  }
  &.has-error{
    border: 2px solid #f347 !important;
  }
  &.has-success{
    border: 2px solid #03a06260 !important;
  }
}
#text-question-error-message{
  display: none;
  font-size: .7rem;
  color: #99a;
  display: block;
  margin-top: -0.2rem;
  margin-bottom: 0.6rem;
}
/* END:: FORM COMMENTS | BEGIN:: COMMENTS */
#container-questions{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  overflow-x: auto;

  .content-message{
    display: grid;
    grid-template-columns: 3.2rem auto;
    border-radius: .5rem;
    transition: .2s;
    padding: .5rem;

    &:hover{ 
      background: #00000005;  
    }
    
    .content-avatar img{
      margin: auto;
      height: 2.4rem;
      width: 2.4rem;
      border-radius: 50%;
      box-shadow: 0 0 0 #0002;
    }

    .message-info{
      position: relative;
      display: flex;
      flex-direction: column;

      .message-body{ color: #747480; }
    }
  }
  .content-message .message-info .message-timestamp, #hover-answer .message-timestamp{
    font-size: .7rem;
    color: #99a;
    display: block;
  }
  .message-answer:hover{ text-decoration: underline; }
  .message-like{
    display: flex;
    align-items: flex-top;
    gap: .2rem;
  }
  .message-unlike{
    display: flex;
    align-items: flex-top;
    gap: .2rem;
  }
  .message-responses{
    margin: .8rem 0;
    border-left: 1px dotted #dde;
    padding: 0 .4rem;
  }
  .message-trash{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 99rem;
    font-size: 0;
    padding: .3rem;
  }
}
#more-messages, .more-answers{
  display: block;
  text-align: center;
  font-size: .8rem;
  color: #747480;
}
#more-messages:hover, .more-answers:hover{
  text-decoration: underline;
  color: #212529;
}
/* END:: COMMENTS */