.navbar {
  margin: .6rem 0 1rem;
  color: #99a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
}

.navbar li a {
  padding: .4rem 1rem;
  white-space: nowrap;
  -webkit-transition: .2s;
  transition: .2s;
}

.navbar li a:hover {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
  border-radius: .4rem;
}

.navbar li.active {
  font-weight: bold;
}

.navbar li:first-child a {
  padding-left: 0;
}

.navbar::-webkit-scrollbar {
  height: 2px;
}

.container-grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.container-grid .form-custom {
  width: 100%;
  margin: inherit;
}

.container-grid .form-custom label {
  color: #99a;
  padding-bottom: .2rem;
  font-size: .7rem;
}

@media (max-width: 800px) {
  .container-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.content-matters {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: .6rem;
  gap: 1rem;
}

.content-matters > div {
  padding: 1rem;
  border-radius: .5rem;
  max-width: inherit;
  -webkit-transition: .2s;
  transition: .2s;
}

.content-matters > div:hover, .content-matters > div.active {
  background: #eef9;
}

.content-matters::-webkit-scrollbar {
  height: 2px;
}

.content-courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .4rem;
}

.content-courses .course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background: #fff;
  -webkit-box-shadow: 0 0 20px #0002;
          box-shadow: 0 0 20px #0002;
  border-radius: .4rem;
}

.content-courses .course > img {
  width: 18rem;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: .4rem;
}

.content-courses .course > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.content-courses .course .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.content-courses .course .title > div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-courses .course .title > div:first-child strong {
  font-size: 1.4rem;
}

.content-courses .course .title .dropdown {
  top: 0;
  right: 1.5rem;
  min-width: 10rem;
}

.content-courses .course p {
  font-size: .8rem;
  color: #667;
  max-height: 3.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content-courses .course .badge {
  display: inline-block;
  margin: 1.2rem 0 .4rem;
  font-weight: 600;
  padding: .4rem 1.4rem;
}

.content-courses .course .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-courses .course .actions > div {
  color: #667;
  font-size: .8rem;
}

.content-courses .course .actions > div span:not(:last-child):after {
  content: " | ";
  padding: 0 .5rem;
}

.content-courses .course .actions .btn-primary {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 2rem;
}

.fill-quality {
  margin-left: 1rem;
  position: relative;
  cursor: pointer;
}

.fill-quality .points {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 3px solid #99a;
  color: #667;
  font-weight: 600;
  font-size: .8rem;
}

.fill-quality .missions {
  display: none;
  background: #fff;
  -webkit-box-shadow: 0 0 20px #0012;
          box-shadow: 0 0 20px #0012;
  padding: 1rem;
  border-radius: .4rem;
  list-style: inherit;
  padding-left: 2.4rem;
  font-size: .8rem;
  position: absolute;
  width: 20rem;
  color: #445;
}

.fill-quality:hover .missions {
  display: inherit;
}

@media (max-width: 750px) {
  .content-courses .course {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content-courses .course img {
    width: 100%;
  }
}
/*# sourceMappingURL=course.css.map */