.content-profile{
  margin-top: 2rem;

  .content-thumbnail{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    flex-wrap: wrap;

    img{
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      box-shadow: 0 0 0 #0002;
    }
    
    .user-type{
      border: 1px solid #ccd;
      border-radius: 99rem;
      color: #99a;
      background: #eef4;
  
      a{
        width: 5.8rem;
        height: 2.2rem;
  
        display: inline-flex;
        align-items: center;
        justify-content: center;
  
        font-weight: 600;
  
        &.active{
          &.user-type-right{ border-left: 2px solid #ccd; }
          &.user-type-left{ border-right: 2px solid #ccd; }
          
          color: #556;
          background: #fff; 
          border-radius: 99rem;
          width: 7rem;
          font-weight: 600;
        }
      }
    }
  }
  
  .form-custom{
    margin-top: 2rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    width: 100%;

    label{
      font-size: .7rem;
    }
    .form-group input, .form-group textarea{
      border: 0;
      border-bottom: 2px solid #bbc;

      &:focus-within {
        border-bottom: 2px solid #667;
      }
    }
  }
}