.form-custom{
  display: flex;
  flex-direction: column;
  gap: .8rem;
  margin: auto;
  width: 20rem;

  .form-group{
    display: flex;
    flex-direction: column;

    input,textarea{
      height: 3.2rem;
      min-width: 9.2rem;
      padding: 1rem;

      border: 1px solid #eef;
      
      &:focus-within{
        border-bottom: 2px solid #667;
      }
    }
    textarea{
      height: auto;
    }
    .error-message{
      display: none;
      font-size: .75rem;
      color: #d39;
    }

    &.have-error{
      input,textarea{
        border-bottom: 2px solid #d39;
      }
      .error-message{
        display: block;
      }
    }
  }
  .link-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: .4rem;
    
    a{
      margin-top: -.5rem;
      font-size: .85rem;
      color: #667;
    }
  }
}