/* BEGIN:: INITIALIZE */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans Display', sans-serif;
}
button, input, textarea{
  border: 0;
  outline: 0;
}
button, [onclick]{
  cursor: pointer;
}
::-webkit-scrollbar{
  width: 6px;
}
::-webkit-scrollbar-thumb{
  background: #dde;
}
::-webkit-scrollbar-track{
  background: #fff;
}
a{
  text-decoration: none;
  color: inherit;
}
ul{
  list-style: none;
  padding-left: 0;
}
/* END:: INITIALIZE | BEGIN:: UTILS */
.paragraph{
  font-weight: 300;
  opacity: .8;
}
.btn-primary{
  background: #192A88;
  color: white;

  height: 3.2rem;
  min-width: 9.2rem;
  padding: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.badge{
  padding: .2rem .6rem;
  font-size: .7rem;
  border-radius: 999rem;
  background: #99a;
}
/* END:: UTILS */