/* BEGIN:: INITIALIZE */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans Display', sans-serif;
}
button, input, textarea{
  border: 0;
  outline: 0;
}
button, [onclick]{
  cursor: pointer;
}
::-webkit-scrollbar{
  width: 6px;
  height: 4px;
}
::-webkit-scrollbar-thumb{
  background: #dde;
}
::-webkit-scrollbar-track{
  background: #fff;
}
a{
  text-decoration: none;
  color: inherit;
}
ul{
  list-style: none;
  padding-left: 0;
}
/* END:: INITIALIZE | BEGIN:: UTILS */
.paragraph{
  font-weight: 300;
  opacity: .8;
}
.btn-primary,.btn-secondary{
  background: #192A88;
  color: white;

  height: 3.2rem;
  min-width: 9.2rem;
  padding: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.btn-secondary{
  background: #dde;
  color: #223;
  font-weight: 600;
}
.btn-clean{ background: transparent; }
.btn-svg{ font-size: 0; }
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-gray-500{
  color: #99a;
}
.badge{
  padding: .2rem .6rem;
  font-size: .7rem;
  border-radius: 999rem;
  background: #99a;
}
.dropdown{
  display: none;
  position: absolute;
  background: #fff;
  box-shadow: 0 0 15px #0002;
  border: 1px solid #eef;
  padding: 1rem 0;
  border-radius: .4rem;
}
.dropdown ul li a{
  display: block;
  padding: .4rem 1rem;
  transition: .2s;

}
.dropdown a:hover{
  background: #eef;
}
/* END:: UTILS */