#sidebar {
  color: #334;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15rem;
  z-index: 1;
  -webkit-box-shadow: 0 0 15px #0001;
          box-shadow: 0 0 15px #0001;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .4s;
  transition: .4s;
}

#sidebar .logo {
  height: 3.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 1.2rem;
}

#sidebar #list-routes {
  list-style: none;
  padding-left: 0;
  margin: 0;
  overflow-y: auto;
  height: calc(100vh - 3.5rem);
}

#sidebar #list-routes::-webkit-scrollbar-thumb {
  background: #eef;
}

#sidebar #list-routes::-webkit-scrollbar-track {
  background: #fff;
}

#sidebar #list-routes > li > a {
  padding: 1rem 1.4rem;
}

#sidebar #list-routes > li {
  margin: .4rem;
}

#sidebar #list-routes > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .4rem;
}

#sidebar #list-routes li.active {
  background: #aad2;
  border-radius: .8rem;
  font-weight: bold;
}

#sidebar .content-avatar {
  padding: 1rem 1.4rem .4rem;
}

#sidebar .content-avatar img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 #0002;
          box-shadow: 0 0 0 #0002;
}

#sidebar .content-avatar .dropdown {
  bottom: 1.5rem;
  left: 4rem;
  min-width: 10rem;
}

#sidebar .content-avatar.active img {
  border: 2px solid #99a;
  -webkit-box-shadow: 0 0 15px #0012;
          box-shadow: 0 0 15px #0012;
}

#sidebar:not(.expanded):not(:hover) {
  width: 5rem;
}

#sidebar:not(.expanded):not(:hover) .show-if-expanded {
  display: none;
}

#sidebar:hover {
  background: #fff;
}

#close-sidebar {
  display: none;
  position: fixed;
  top: 1rem;
  left: 15.8rem;
}

@media (max-width: 500px) {
  #sidebar {
    z-index: 1;
    background: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: inherit;
    width: 100% !important;
    height: 3.8rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #sidebar .logo {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }
  #sidebar .logo .show-if-expanded {
    display: none;
  }
  #sidebar .content-avatar .show-if-expanded {
    display: none;
  }
  #sidebar .content-avatar .dropdown {
    top: 1.5rem;
    right: 4rem;
    left: inherit;
    bottom: inherit;
  }
  #sidebar:not(.expanded) #list-routes {
    display: none;
  }
  #sidebar.expanded {
    bottom: 0;
    height: 100vh !important;
    background: #fff;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'logo avatar' 'sidebar sidebar';
  }
  #sidebar.expanded .logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo;
  }
  #sidebar.expanded .content-avatar {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: avatar;
  }
  #sidebar.expanded #list-routes {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: sidebar;
  }
}
/*# sourceMappingURL=sidebar.css.map */